* {
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
}

/*! h1 h2 h3 h4 h5 h6 p ul {
      margin: 0;
         padding: 0;
         list-style: none;
         box-sizing: border-box;
} */

body {
   font-family: 'Roboto', sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

.container {
   width: 100%;
   max-width: 1440px;
   padding-left: 156px;
   padding-right: 156px;
   margin: 0 auto;
   /* line: 2px solid red; */
}

img {
   display: block;
}

/** =================== HEADER =================== */


.container-header {
   padding-top: 24px;
   padding-bottom: 24px;
   display: flex;
   align-items: center;
   display: flex;
   gap: 332px;
}

header {
   border-bottom: 1px solid #E7E9FC;
}

/*? .header {} */

.header-navigation {
   display: flex;
   flex-grow: 1;
   justify-content: space-between;
   align-items: center;
}

.header-logo {
   color: #4D5AE5;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.header-logo:hover {
   color: #404bbf;
}

.header-logo:focus {
   color: #404bbf;
}

.header-logo-studio {
   color: #2E2F42;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.header-menu-list {
   display: flex;
   gap: 40px;
}

.header-menu-item {}

.header-menu-link {
   color: #2E2F42;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.header-menu-link:hover {
   color: #404bbf;
}

.header-menu-link:focus {
   color: #404bbf;
}

.header-address {
   font-style: normal;
}

.header-address-list {
   display: flex;
   gap: 40px;
   align-items: center;
}

.header-address-item {}

.header-address-link {
   color: #434455;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.header-address-link:hover {
   color: #404bbf;
}

.header-address-link:focus {
   color: #404bbf;
}



/** =================== MAIN =================== */

/** ------------------ HERO ------------------ */

/*? .main {} */


.container-hero {
   height: 600px;
   padding-top: 188px;
   padding-bottom: 292px;
}

.main-hero {
   background: #2E2F42;
}

.main-hero-heading {
   color: #FFF;
   text-align: center;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 0.02em;
   max-width: 496px;
   margin: 0 auto;
   margin-bottom: 48px;

}

.container-hero-btn {
   display: flex;
}

.main-hero-button {
   color: #FFF;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: inherit;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
   background-color: #4D5AE5;
   border-radius: 4px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   border: 0;
   padding: 16px 32px;
   margin: 0 auto;
}

.main-hero-button:hover {
   background-color: #404BBF
}

.main-hero-button:focus {
   background-color: #404BBF;
}


/** ------------------ SKILS ------------------ */

/*? .main-skils {} */

.container-main-skils {
   padding-top: 120px;
   padding-bottom: 120px;
}

.main-skils-title {
   color: #2E2F42;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.main-skils-list {
   display: flex;
   gap: 24px;
}

.main-skils-item {
   width: ((100% - 24px * 3) / 4);
}

.main-skils-subtitle {
   color: #2E2F42;
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   margin-bottom: 8px;
}

.main-skils-item-text {
   color: #434455;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/** ------------------ OUR TEAM ------------------ */

.container-main-team {
   padding-top: 120px;
   padding-bottom: 120px;
}

.main-team {
   background-color: #F4F4FD;
}

.main-team-title {
   color: #2E2F42;
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   margin-bottom: 72px;
}

.main-team-list {
   display: flex;
   gap: 24px;
}

.main-team-item {
   background-color: #FFFFFF;
   border-radius: 0px 0px 4px 4px;
   background: #FFF;
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
   /* outline: 1px solid green; */
   width: ((100% - 24 * 3) / 4);
}

.main-team-list-img {
   background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.main-team-subtitle {
   color: #2E2F42;
   text-align: center;
   font-family: Roboto;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   margin-top: 32px;
}

.main-team-text {
   color: #434455;
   text-align: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-top: 8px;
   margin-bottom: 32px;
}

/** ------------------ PORTFOLIO ------------------ */

.container-main-portfolio {
   padding-top: 120px;
   padding-bottom: 120px;
}

.main-portfolio {
   background: #FFF;
}

.main-portfolio-title {
   color: #2E2F42;
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   margin-bottom: 72px;
}

.main-portfolio-list {
   background-color: #FFFFFF;
   display: flex;
   flex-wrap: wrap;
   gap: 38px 24px;
}

.main-portfolio-item {
   /* border: 1px solid #E7E9FC; */
   width: ((100% - 24 * 2) / 3);
}

.main-portfolio-list-img {
   margin: 0 auto;
}

.main-portfolio-subtitle {
   color: #2E2F42;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   margin-top: 32px;
   margin-left: 16px;
}

.main-portfolio-text {
   color: #434455;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-top: 8px;
   margin-left: 16px;
   margin-bottom: 32px;
}




/** =================== FOOTER =================== */

.container-footer {
   padding-top: 101.5px;
   padding-bottom: 100px;
}

.footer {
   background: #2E2F42;
}

.footer-logo {
   color: #4D5AE5;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}



.footer-logo-studio {
   color: #F4F4FD;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}


.footer-logo-text {
   color: #F4F4FD;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-top: 17.5px;
   max-width: 264px;
}